@media screen and (max-width: 600px){
body{
    font-family: 'Roboto', sans-serif;
}
.header_logo{
    font-family: 'Shrikhand', cursive;
    color: black;
}
.header{
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 6px 0px rgb(207, 207, 207);
    }
.localisation
    {
    background-color: rgb#c2c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 16px;
    font-weight: bolder;  
    }

    .localisation .logo_icon{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .info_localisation{
        padding-left: 20px;
    }
    
.presentation_restau {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    width: auto;
    .presentation_restau__texte_presentation {
        font-weight: 900;
        max-width: 250px;
        text-align: center;
        font-size: 25px;
        .presentation_restau__bloc_explorer {
            border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        color: white;
        margin-bottom: 60px;
        border: none;
        background: linear-gradient(#FF79DA,#9356DC);
        font-weight: bold;
        padding: 15px;
        }
    }
}


}
